[Unit]
Description=Sausage Store

[Service]
WorkingDirectory={{ backend_directory }}
Environment=LOG_PATH={{ backend_reports }}
Environment=REPORT_PATH={{ backend_reports }}
ExecStart=/usr/bin/java -jar '{{ backend_directory }}sausage-store.jar'
SuccessExitStatus=143
StandardOutput=file:{{ backend_reports }}sausage-store.log
User={{ backend_user }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
