[Unit]
Description=Sausage Store

[Service]
WorkingDirectory={{ frontend_directory }}
Environment=LOG_PATH={{ frontend_reports }}
Environment=REPORT_PATH={{ frontend_reports }}
ExecStart=/usr/bin/http-server ./ -p 443 --proxy http://localhost:8080
SuccessExitStatus=143
StandardOutput=file:{{ frontend_reports }}sausage-store-front.log
User={{ frontend_user }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
